@import "tailwindcss";
@plugin "daisyui";

html,
body {
    background: #0D0C0C;
}

/* index.css */
input[type="range"].my-range::-webkit-slider-thumb {
    width: 5px;
    height: 1px;
    border: 2px solid #73106B;
    color: #73106B;
}

input[type="range"].my-range::-webkit-slider-runnable-track {
    height: 3px;
    background: #73106b36;

    --range-thumb-size: calc(var(--size-selector, 0.1rem) * 2);
}